body {
  display: flex;
  justify-content: space-evenly;
}

#connectingScreen,
#connectionScreen {
  margin: 3ch;
  font-size: 2em;
  text-align: center;
}

#connectingScreen.hidden,
#connectionScreen.hidden {
  display: none;
}

#connectingScreen button,
#connectionScreen button {
  font-size: 1em;
  font-weight: bold;
  min-width: 70%;
}

#connectionScreen div[contentEditable='true'] {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 5px;
}

:is(#connectingScreen, #connectionScreen) :is(span, button, div) {
  padding: 5px;
  margin: 1ch;
}

.gameContainer {
  text-align: center;
  position: relative;
}

.score-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 3em;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.score-wins {
  color: greenyellow;
}

.score-draws {
  color: black;
}

.score-losses {
  color: red;
}

#board {
  min-height: 50vh;
  max-width: min(600px, 80vw);
  max-height: 80vh;
  margin: auto;
  display: block;
}

#board rect.cell {
  fill: none;
}
#board.your-move rect.cell.empty {
  fill: #faebd740;
}

#board.your-move rect.cell.empty:hover {
  cursor: pointer;
  fill: #faebd780;
}

#board.your-move rect.cell.empty:active {
  fill: #faebd7ff;
}

#board.your-move path.mark.hover {
  stroke: gray;
}

#board.your-move path.mark {
  pointer-events: none;
}

.controls {
  width: 100%;
}

.info-box {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.control-button {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin: auto;
  min-width: 70%;
}
